label.big_title { font-size: 12px; font-weight: bold; padding: 0 0 2px 0; }
textarea.mce { background: #fff; }
h4.bh4 { font-size: 16px; }

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(0,160,221);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(0,140,193)),
	  color-stop(1, rgb(0,160,221))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(0,140,193) 37%,
	  rgb(0,160,221) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(0,140,193) 37%,
	  rgb(0,160,221) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(0,140,193) 37%,
	  rgb(0,160,221) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(0,140,193) 37%,
	  rgb(0,160,221) 69%
	 );
	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.meter {
	height: 15px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.customEditor { background: #fff; display: block; border: 1px solid #ddd; }

#slider-input { display: none; }

/* .progress-20 { width: 6%; } */
/* .progress-20 { width: 6%; } */
.progress-0 { width: 0%; }
.progress-1 { width: 1%; }
.progress-2 { width: 1%; }
.progress-3 { width: 2%; }
.progress-4 { width: 2%; }
.progress-5 { width: 3%; }
.progress-6 { width: 4%; }
.progress-7 { width: 4%; }
.progress-8 { width: 5%; }
.progress-9 { width: 5%; }

.progress-10 { width: 6%; }
.progress-11 { width: 6%; }
.progress-12 { width: 7%; }
.progress-13 { width: 7%; }
.progress-14 { width: 8%; }
.progress-15 { width: 8%; }
.progress-16 { width: 9%; }
.progress-17 { width: 10%; }
.progress-18 { width: 11%; }
.progress-19 { width: 11%; }

.progress-20 { width: 12%; }
.progress-21 { width: 13%; }
.progress-22 { width: 14%; }
.progress-23 { width: 15%; }
.progress-24 { width: 16%; }
.progress-25 { width: 18%; }
.progress-26 { width: 20%; }
.progress-27 { width: 22%; }
.progress-28 { width: 24%; }
.progress-29 { width: 26%; }

.progress-30 { width: 27%; }
.progress-31 { width: 28%; }
.progress-32 { width: 29%; }
.progress-33 { width: 30%; }
.progress-34 { width: 31%; }
.progress-35 { width: 32%; }
.progress-36 { width: 33%; }
.progress-37 { width: 34%; }
.progress-38 { width: 35%; }
.progress-39 { width: 36%; }

.progress-40 { width: 38%; }
.progress-41 { width: 39%; }
.progress-42 { width: 40%; }
.progress-43 { width: 41%; }
.progress-44 { width: 42%; }
.progress-45 { width: 43%; }
.progress-46 { width: 45%; }
.progress-47 { width: 47%; }
.progress-48 { width: 48%; }
.progress-49 { width: 49%; }

.progress-50 { width: 50%; }
.progress-51 { width: 52%; }
.progress-52 { width: 53%; }
.progress-53 { width: 55%; }
.progress-54 { width: 56%; }
.progress-55 { width: 58%; }
.progress-56 { width: 59%; }
.progress-57 { width: 60%; }
.progress-58 { width: 61%; }
.progress-59 { width: 62%; }

.progress-60 { width: 63%; }
.progress-61 { width: 64%; }
.progress-62 { width: 66%; }
.progress-63 { width: 67%; }
.progress-64 { width: 69%; }
.progress-65 { width: 70%; }
.progress-66 { width: 72%; }
.progress-67 { width: 73%; }
.progress-68 { width: 74%; }
.progress-69 { width: 75%; }

.progress-70 { width: 75%; }
.progress-71 { width: 76%; }
.progress-72 { width: 78%; }
.progress-73 { width: 79%; }
.progress-74 { width: 80%; }
.progress-75 { width: 81%; }
.progress-76 { width: 83%; }
.progress-77 { width: 84%; }
.progress-78 { width: 85%; }
.progress-79 { width: 86%; }

.progress-80 { width: 88%; }
.progress-81 { width: 89%; }
.progress-82 { width: 90%; }
.progress-83 { width: 91%; }
.progress-84 { width: 92%; }
.progress-85 { width: 92%; }
.progress-86 { width: 93%; }
.progress-87 { width: 93%; }
.progress-88 { width: 94%; }
.progress-89 { width: 94%; }

.progress-90 { width: 95%; }
.progress-91 { width: 95%; }
.progress-92 { width: 96%; }
.progress-93 { width: 96%; }
.progress-94 { width: 97%; }
.progress-95 { width: 97%; }
.progress-96 { width: 98%; }
.progress-97 { width: 98%; }
.progress-98 { width: 99%; }
.progress-99 { width: 99%; }

.progress-100 { width: 100%; }

.client_table { width: 100%; margin: 30px 0; border: 1px solid #dfdfdf; border-radius: 6px; table-layout:fixed; background: #f9f9f9; }
.client_table th { background-color: #F1F1F1;
background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC); border-bottom: 1px solid #ddd; text-align: left; }
.client_table th, .client_table td { padding: 10px; }
.client_table tr { border-bottom: #dfdfdf; }
.client_table tr.odd td { background: #f3f3f3; }
.client_table tr td { border-bottom: 1px solid #efefef;}

.pjsp_options label { float: left; font-weight: bold; width: 150px; margin-right: 20px;}
.pjsp_options input, .pjsp_options textarea { float: left; width: 50%; max-width: 400px ;}
.pjsp_options li { clear: both; padding: 5px 0; }

.clear { clear: both; display: block; }